@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply content-center text-center font-[Georgia] font-black text-4xl lg:text-5xl;
  }
  h2 {
    @apply content-center text-center font-[Georgia] font-black italic text-xl lg:text-2xl;
  }
  h3 {
    @apply text-4xl font-black uppercase italic text-gray-700 pt-10 pb-6;
  }
  h4 {
    @apply text-2xl font-semibold;
  }
  h5 {
    @apply text-xl font-medium py-2;
  }
}

@layer components {
  .caseIntro {
    @apply flex flex-col content-center gap-2 text-center text-base lg:text-xl;
  }
  .caseNonDisclosure {
    @apply text-lg italic text-gray-500 text-sm lg:text-lg;
  }
  .figure {
    @apply p-0;
  }
  .impactNumber {
    @apply text-8xl font-[Georgia] font-black;
  }
  .impactPercent {
    @apply text-4xl font-[Georgia];
  }
  .impactChange {
    @apply text-xl;
  }
  .impactMetric {
    @apply text-4xl text-gray-600;
  }
  .imageLabel {
    @apply text-center italic text-base text-gray-400;
  }
  .resumeSectionTitle {
    @apply text-left font-[Georgia] font-black uppercase border-b-4 border-slate-600 text-lg md:text-xl lg:text-2xl xl:text-3xl my-4;
  }
  .resumeSectionContent {
    @apply text-sm md:text-base lg:text-lg xl:text-xl;
  }
  .company {
    @apply font-semibold italic;
  }
  .jobTitle {
    @apply text-gray-600 font-bold;
  }
  .jobDescription {
    @apply list-disc list-outside ml-8 mb-4;
  }
  .entryDate {
    @apply flex flex-row justify-between gap-4;
  }
}
